# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
# If you are using virtualenvs and don't want to track them
venv/
ENV/
env/
.venv/
.env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Environments
.env/
.venv/
env/
ENV/
venv/
ENV.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
